// Mini basket and shopping cart
// ======================================================================== 
$topbar-icon-color: #787878 !default;

// get content icon from img icon from theme folder 
$cart-product-font-size:			$font-size-base - 2 !default;
$cart-align-right:                  17px !default;
$cart-content-width: 				400px !default;
$cart-border-color: 				#95ecfb !default;
$cart-bg-color: 					#32c5de !default;
$cart-text-color:                   $white !default;

// Search
// ========================================================================

// block top menu
// ========================================================================
$blocktopmenu-link-color:           #272727 !default;
$blocktopmenu-link-hover-color:     $theme-color-default !default;
$blocktopmenu-font-family:          $font-family-septenary !default;

// widget slideshow
// ========================================================================
$widgetslide-icon-color:            #99e2ef !default;
$widgetslide-icon-hover-color:      $white !default;

$widgetslide-caption-bg-color1:     #550d19 !default;
$widgetslide-caption-bg-color2:     #53493a !default;
$widgetslide-caption-bg-color3:     #3e5649 !default;
// Contact page
// ========================================================================
// Htab module
// ========================================================================