@import "compass";
@import "theme_variables";
/*** ESSENTIAL STYLES ***/
.sf-contener {
	clear: both;
	@include rtl-float-left();
	width: 100%;
	height: 77px;
}
.sf-right {}
.sf-menu,
.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	position: relative;
	padding: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	background: transparent;
	z-index: 100;
	@media (max-width: $screen-sm-max) { // max 991px
		display: none;
		position: absolute;		
		width: 100%;
		> li{
			background: #DDD;
		}
	}
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	background-color: #fff;			
	@media (max-width: $screen-sm-max) { // max 991px
		position: relative;
	}
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	// visibility: inherit; fixes IE7 'sticky bug'
	// ul{
	// 	display: block;
	// }
}
.sf-menu > li {
	display: inline-block;
	@include rtl-margin-right(1px);
	@media (max-width: $screen-sm-max) { // max 991px
		@include rtl-float-left();
		width: 100%;
		position: relative;
		border-right: none;
		span {
			position: absolute;
			@include rtl-right(6px);
			top: 5px;
			width: 30px;
			height: 30px;
			z-index: 2;
			color: $white;
			text-align: center;
			&:after {
				font-family: $font-icon;
				content: "\f067";
				font-size: 20px;
			}
			&.active {
				&:after {
					content: "\f068";	
				}
			}
		}
	}
	> a {
		display: block;
		padding: 29px 15px;				
		background-color: transparent!important;
		text-decoration: none;
		@media (max-width: $screen-sm-max) { // max 991px
			padding: 10px 15px;	
		}
		@media (min-width: $screen-lg) {
			@include transition(all 350ms ease-out);
			&:after{							
				content:"";
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;	
				line-height: 0;				
				position: absolute;
				border-left: 6px solid transparent; 
				border-right: 6px solid transparent; 
				border-bottom: 0px solid $white; 
				@include size(0px,0px);		
				@include opacity(0);								
				@include transition(border 300ms ease-out 0s);
			}
		}
	}
	&.sfHover > a,
	> a:hover,
	&.sfHoverForce > a {
		
	}
}
.sf-menu li li li a {
	display: inline-block;
	position: relative;
	color: text-color;
	font-size: 13px;
	line-height: 16px;
	/* font-weight: bold; */
	padding-bottom: 10px;
	&:before {
		content: "\f105";
		display: inline-block;
		font-family: $font-icon;
		@include rtl-padding-right(10px);
	}
	&:hover {
		color: $theme-color-default;
	}
}
.sf-menu li ul {
	display: none;
	@include rtl-left(0);
	top: 100%; /* match top ul list item height */
	z-index: 99;
	min-width: 200px;
	@include transition(opacity 0.3s linear 0s);		
}
.sf-menu li li ul {
	position: static;
	display: block !important;
	opacity: 1 !important;
	background: none;
	@include box-shadow(rgba(black, 0) 0px 0px 0px);
}
.sf-menu li li li ul {
	@include rtl-padding(0, 0, 0, 20px);
}
.sf-menu li li li ul {
	width: 220px;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	@include rtl-left(200px); /* match ul width */
	top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	@include rtl-left(200px); /* match ul width */
	top: 0;
}
.sf-menu > li > ul {
	padding: 15px;
	width: 100%;
	border: 1px solid #ebebeb;
	> li {
		> a {
			
			font: 600 16px/20px $font-family-base;
		}
	}
}
.sf-menu > li > ul > li {
	/* width: 20%; */
	@include rtl-float-left();
	@include rtl-padding-right(15px);
	@media (max-width: $screen-sm-max) { // max 991px
		width: 50%;
	}
	@media (max-width: $screen-xs - 1) { // max 479px
		width: 100%;
	}
	@media (min-width: $screen-sm) { // min 768px
		&.first-in-line-lg {
			clear: left;
		}
	}
	@media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 767px
		&.first-in-line-xs {
			clear: left;
		}
	}
}
.sf-menu > li > ul > li > a {margin-bottom: 15px; display: inline-block;}
.sf-menu > li > ul > li#category-thumbnail {
	width: 100% !important;
	float: none;
	clear: both;
	overflow: hidden;
	@include rtl-padding-right(0);
	> div {
		@include rtl-float-left();
		@include rtl-padding-left(10px);
		width: 33.333%;
		@media (max-width: $screen-xs - 1) { // max 479px
			width: 100%;
			@include rtl-padding-left(0);
			padding-top: 10px;
			text-align: center;
		}
		&:first-child {
			@include rtl-padding-left(0);
		}
		img {
			max-width: 100%;
			display: block;
		}
	}
}
.cat-title {
	display: none;
	@media (max-width: $screen-sm-max) { // max 991px
		display: block;
		text-transform: uppercase;
		color: $white;
		display: block;
		background: $theme-color-default;
		position: relative;
		width: 40px;
		height: 40px;
		line-height: 40px;
		margin-top: 18px;
		margin-bottom: 19px;
		font-size: 20px;
		text-align: center;
		display: inline-block;
		cursor: pointer;
		border: none;
		@include border-radius(3px);
		&:hover {
			background: $theme-color-secondary;	
		}		
	}
}

.sf-menu {
	li.sf-search{
		border: none;
		input{
			display: inline;
			padding: 0 13px;
			height: 30px;
			line-height: 30px;
			background: $input-bg;
			@include rtl-margin(13px,10px,0,0);
			font-size: 13px;
			color: $input-color;
			border: 1px solid $input-border;
		}
	}
}